body {
  display: flex;
  justify-content: center;
  background-color:red;
  color: black;
}
.container {
  display: flex;
  margin-right: 10px;
  
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  body {
    background-color:red;
    color: white;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  body {
    background-color:black;
    color: white;
  }
 
  }
