
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-twitter-rect:before { content: '\f314'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
